*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --orange-color: rgba(255, 72, 32, 1);
  --blue-color: rgba(4, 43, 85, 1);
  --dark-blue: rgba(4, 12, 24, 1);
  /* --pink-yellow-gradient: linear-gradient(to right, rgba(174, 103, 250, 1), rgba(244, 152, 103, 1)); */
  --pink-yellow-gradient: linear-gradient(to right, rgba(174, 103, 250, 1), rgb(255, 143, 82));
  --yellow-pink-gradient: linear-gradient(to left, rgba(174, 103, 250, 1), rgb(255, 143, 82));
  --footer-blue: rgba(3, 27, 52, 1);
  --smooth: ease-in .3s;
  --content-blue: rgba(129, 175, 221, 1);
  --content-orange: #FF8A71
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

body{
  background-color: var(--dark-blue);
  color: white;
  font-family: 'Manrope';
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.body-section{
  margin: 50px 0;
}

.underline {
  content: "";
  background: var(--pink-yellow-gradient);
  height: 6px;
  width: 15%;
  left: 0;
}

.hero-primary-title.title-text {
  margin-top: 20px;
  font-size: 34px;
}